table td {
  padding: 5px; }

table a {
  color: #333;
  text-decoration: none; }

table .players {
  font-size: 1.2em;
  text-align: right; }
  table .players td:first-child {
    border-right: 1px solid #555;
    text-align: left; }

table .scores {
  text-align: left; }
  table .scores td:last-child {
    text-align: right; }
