$color: #f00;

body{
   // background-color: $color
}

table{
   td{
      padding: 5px; 
   }

   a{
      color:#333;
      text-decoration: none;
   }

   .players{
      font-size: 1.2em;
      text-align: right;

      td:first-child{
         border-right: 1px solid #555;
         text-align: left;
      }
   }

   .scores{
      text-align: left;

      td{
         &:last-child{
            text-align: right;
         }
      }
   }
}